@charset 'utf-8';

.inner {
    /* w118r+m0-a+bg */
    width: 38rem;
    width: 88.785%;
    margin: 0 auto;
    /* background: rgba(255, 255, 0, 0.1); */
}

#header {
    /* background: #000; */
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    z-index: 1;
    /* 뷰포트 기준 */
}

#header nav {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.util-menu {
    display: flex;
    gap: 1rem;
}
.util-menu button {
    width: 4rem;
    height: 4rem;
    background: no-repeat 50%;
    border: 1px solid var(--white70p);
    border-radius: 50%;
}
.util-menu .btn-menu {
    background-image: url(../img/ico-menu2.svg);
}
.util-menu .btn-contact {
    background-image: url(../img/ico-contact.svg);
}
.gnb {
    display: none;
}

.logo a {
    display: block;
    width: 4rem;
    height: 4rem;
    background: url(../img/logo-m.svg) no-repeat 50% / contain;
}

.visual {
    height: 52rem;
    background: skyblue;
    position: relative;
}

.video-wrap {
    height: 100%;
}

.video-wrap::after {
    content: "";
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    inset: 0;
    /* inset : 어떤 영역을 기준으로 다 채우겠다 */
    background: var(--gradient);
    opacity: 0.8;
}

.visual-title {
    position: absolute;
    top: 14.9rem;
    width: 38rem;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid #f00; */
}

.visual-title h2 {
    font-weight: 700;
    font-size: 3.6rem;
    color: #fff;
    /* line-height: 44px; */
    line-height: 1.2; /* 44/36 */
}

.visual-title p {
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    line-height: 1.2; /* 24/20 */
    margin-top: 2rem;
}

.btn-cta {
    background: #fff;
    color: var(--main-color);
    margin: 4.8rem auto 0;
}

.introduce {
    background: #f5f5f5;
    padding: 4rem 0;
}

.introduce-list li {
    display: flex;
    gap: 4rem;
    /* border: 1px solid #000; */
    padding: 1.2rem 0;
    min-height: 16.8rem;
}

.introduce-list li::before {
    content: "";
    display: block;
    width: 9rem;
    height: 9rem;
    background: no-repeat 50% / contain;
}

.introduce-list li:nth-child(1)::before {
    background-image: url(../img/intro-icon01.svg);
}
.introduce-list li:nth-child(2)::before {
    background-image: url(../img/intro-icon02.svg);
}
.introduce-list li:nth-child(3)::before {
    background-image: url(../img/intro-icon03.svg);
}
.introduce-list li:nth-child(4)::before {
    background-image: url(../img/intro-icon04.svg);
}

.introduce-list li dl {
    width: 24.9rem;
    width: 65.5263%;
}

.introduce-list li dl dt {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.2;
}

.introduce-list li dl dd {
    margin-top: 0.8rem;
    line-height: 1.5;
}

.introduce .btn-black {
    margin: 0 auto;
}

.competitive {
    padding: 6rem 0;
    background: url(../img/drone-pic3.jpg) no-repeat 100% 100% /70% auto;
}

.sec-title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.2;
}

.competitive h2 + p {
    margin-top: 2rem;
}

.competitive-list-wrap {
    /* border: 1px solid #f00; */
    overflow-x: scroll; /* ovxs : x축 overflow 스크롤 생기게 */
    margin-top: 4.1rem;
}

.competitive-list {
    display: flex;
    gap: 1.1rem;
    /*1. 카운터 세팅 */
    counter-reset: competitive;
}
.competitive-list li {
    border: 1px solid #fff;
    background: var(--white80p);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    width: 38rem;
    height: 10.5rem;
    flex-shrink: 0;
    padding: 1rem;
    display: flex;
    gap: 2.4rem;

    /* 2. 카운터 증가 */
    counter-increment: competitive;
}

.competitive-list li::before {
    /* 3. 카운터 적용 */
    content: counter(competitive);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 1px solid var(--black50p);
    font-weight: 700;
    font-size: 3rem;
    flex-shrink: 0;
}

.competitive-list li p {
    font-size: 1.4rem;
    color: #a7acbc;

    /* 4줄 제한 */
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-list {
}
.product-list li {
    /* border: 1px solid #f00; */
    position: relative;
    padding-bottom: 25rem;
    background: #fff;
}
.product-list li figure {
    /* aspect-ratio: 1/1.215; */
    height: 52rem;
}

.product-list li .product-con {
    width: 38rem;
    min-height: 45rem;
    background: #f5f5f5;

    position: absolute;
    bottom: 2.4rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 6rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-list li .product-con h3 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.2;
}
.product-list li .product-con p {
    margin-top: 2.4rem;
}

.product-list li .product-con .btn-black {
    margin-top: 2.4rem;
}

.newletter {
    /* aspect-ratio: 1/1.028; */
    height: 44rem;
    background: url(../img/newsletter-bg.jpg) no-repeat 50% / cover fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.newletter-con {
    width: 38rem;
}

.newletter-con h4 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
}

.newletter-con .form-wrap {
    background: #5f5;
    margin-top: 4.8rem;
    border: 1px solid #fff;
    border-radius: 6rem;
    background: var(--black20p);

    display: flex;
    overflow: hidden;
}

.newletter-con .form-wrap input {
    background: transparent;
    width: calc(100% - 8.4rem);
    color: #fff;
    padding: 1rem 2.8rem;
}

.newletter-con .form-wrap input::placeholder {
    color: #fff;
}

.newletter-con .form-wrap button {
    width: 8.4rem;
    background: #fff;
    color: var(--main-color);
    border-radius: 6rem;
}

#footer {
    background: #2c2e33;
    padding: 8rem 0;
}

#footer .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
}

#footer .foot-logo {
    display: block;
    width: 24.6rem;
    height: 3.6rem;
    background: url(../img/foot-logo.png) no-repeat 50% / contain;
    border: 1px solid #f00;
}
#footer p {
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--white60p);
    text-align: center;
    border: 1px solid #ff0;
}

#footer p em {
    display: block;
    margin-top: 0.5rem;
}
